---
import type { Place } from "@prisma/client";
import Star from "./shared/Star.astro";
import { Image } from "astro:assets";

interface Props {
  place: Place; // si cambio de prisma a otro, esto se romperá
}

const { place } = Astro.props;
const imageURL = `/assets/images/${place.image}`;
---

<!-- component --><!-- component --><!-- This is an example component -->
<div class="w-full mx-auto">
  <div class="shadow-md rounded-lg max-w-sm">
    <a href=`/place/${place.id}`>
      <Image
        class="rounded-t-lg overflow-hidden"
        src={imageURL}
        alt={place.title}
        width="500"
        height="500"
      />
    </a>
    <div class="px-5 py-5 bg-gray-800">
      <h3
        class="text-gray-900 font-semibold text-lg tracking-tight dark:text-white"
      >
        {place.title}
      </h3>

      <div class="flex items-center mt-2.5 mb-5">
        <section class="flex flex-1">
          {
            Array.from({ length: Number(place.avg_rating) }).map((_) => (
              <Star />
            ))
          }
        </section>
        <span
          class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
          >{place.avg_rating}</span
        >
      </div>
    </div>
  </div>
</div>
