---
import type { GetStaticPaths } from "astro";
import Main from "../../layouts/Main.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const resp = await fetch(" https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse; // el results es la respuesta de la llamada a la URL. No es un nombre inventado. y es donde vienen todos los pokemon, los 151
  // console.log("hola mundo", results);

  return results.map(({ name, url }) => {
    const id = url.split("/").at(-2);

    return {
      params: { id: id },
      props: { name: name, url: url },
    };
  });
}) satisfies GetStaticPaths;
const { id } = Astro.params;
const { url, name } = Astro.props; // de aquí también puedo sacar el name

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Main title="Pokemon ID page">
  <section class="flex flex-col justify-center items-center mt-10 mx-10">
    <h1 class="text-5xl capitalize">{name}</h1>
    <section class="flex flex-row text-center items-center gap-4">
      <span class="text-xl text-slate-200">Its ID: {id}</span>
      <span><a class="text-pink-400 underline" href="/">Go Home</a></span>
    </section>
    <PokemonCard name={name} url={`${url}`} isBig={true} />
    <audio controls class="mt-10">
      <source src={audioSrc} type="audio/ogg" />
      Your brawser does not support tha audio element
    </audio>
  </section>
</Main>
